::-webkit-scrollbar{
 width: 3px;
 height: 0px;
}
::-webkit-scrollbar-thumb{
 background-color: white;
}
#astroLogo{
  animation-duration: 35s;
}
.delayAnimate{
  animation-delay: 0.5s;
}
#zoomCloneHead,#codeLibraryHead,#upworkCloneHead{
  animation-duration: 10s;
}
#zomatoLogo,#libLogo,#upworkLogo{
  animation-duration: 10s;
}
#phoneOptions{
  top:0;
  left:100%;
  /* display: none; */
  transition: 0.5s;
}
.phoneMenu{
  font-family: 'Black Ops One', cursive;
}
#phoneMenuHome,#phoneMenuContact,#phoneMenuProjects,#phoneMenuSkills,#phoneMenuAbout{
  display: none;
  animation-duration: 2s;
}
#phoneMenuAbout{
  animation-delay: 0s;
}
#phoneMenuSkills{
    animation-delay: 0.2s;
}
#phoneMenuProjects {
  animation-delay: 0.4s;
}
#phoneMenuContact {
  animation-delay: 0.6s;
}
#myNavbar{
  background-color: rgba(0,0,0,0);
  transition: 0.5s;
}
#borderBottom{
  position: absolute;
  width: 2px;
  height: 4px;
  background-color: rgb(168 85 247);
  bottom: 0%;
  left:-3px;
  transition: 0.5s;
  transition-timing-function:linear;
}
#contactFormRight,#contactFormLeft{
  transition: 1S;
}
#contactFormMainWrap{
  display:none;
  border: 1px solid rgba(255,255,255,0.5);
}
#contactName,
#contactPhone,
#contactEmail,
#contactMessage,
#contactSend{
  display: none;
}
#contactSlides{
  scroll-behavior: smooth;
}
#esuccess1,
#esuccess2,
#esuccess3{
  font-family: 'Black Ops One', cursive;
  animation-duration: 5s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}